<header>
<div class="infos-header">

<img class="logopapo" src="assets/imgs/logo2.png"/>

<div>
<form class="search-form">
  <mat-icon matSuffix>search</mat-icon>
  <mat-form-field class="busca" floatLabel="never" color="primary">

    <input class="toolbar-search" type="text" matInput placeholder="Busque aqui">
    </mat-form-field>
</form>
</div>



<!-- <div class="barra">
<input type="search" placeholder="Busque aqui">
<mat-icon matSuffix>search</mat-icon>
</div> -->

<div class="profile">
<img src="assets/imgs/user.png"/>
<h2>Gabriela</h2>
</div>

</div>
</header>
