<div class="ultimos">
  <h1>Últimos Lançamentos</h1>

  <br><br><br>
    <div class="retangulo1">
      <img src="/assets/imgs/telecomunicacoes.png">
      <h2> {{ tituloPod1 }} </h2>
      <h3>{{ apresentadoPod1 }} <br>
          {{ dataPod1 }}
          {{ duracaoPod1 }}
      </h3>

      <div class="play1">
        <img src="assets/imgs/playb.png"/>
        <mat-icon>play_arrow</mat-icon>
      </div>

    </div>


    <div class="retangulo2">
      <img src="/assets/imgs/desafios.png">
      <h2> {{ tituloPod2 }} </h2>
      <h3>{{ apresentadoPod2 }} <br>
          {{ dataPod2 }}
          {{ duracaoPod2 }}
      </h3>

      <div class="play2">
        <img src="assets/imgs/playb.png"/>
        <mat-icon>play_arrow</mat-icon>
      </div>


    </div>
</div>
