<table>
  <h1>Todos os Episódios</h1>

  <div class="titulo-tabela">
  <td id="papodcast">PAPODCAST</td>
  <td id="apresentado">APRESENTADO</td>
  <td id="data">DATA</td>
  <td id="duracao">DURAÇÃO</td>
  </div>


  <div class="lista-episodios">
  <hr>

  <app-datacenter></app-datacenter>

  <hr>

  <app-net></app-net>

  <hr>

  <app-python></app-python>

  <hr>

  <app-valecss></app-valecss>

  <hr>

  <app-entendahtml></app-entendahtml>

  <hr>

  <app-batepaporest></app-batepaporest>
</div>
</table>
