/* @import "~bootstrap/dist/css/bootstrap.css"; */

/*
html, body.mat-typography, main, header, footer{
 background-color: #167A9A;
}; */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
